@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background: #f5f5f5;
    color: #000;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h2{
    color: #fff;
    font-size: 60px;
}
.banner .content p{
    color: #fff;
    font-size: 18px;
}
.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.about{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx{
    background: #162c3b;
    padding: 100px;
    width: 50%;
}
.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx{
    background: url(window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}
.services{
    background: #12222d;
    padding: 100px;
    text-align: center;
}
.services .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .serviceBx img{
    max-width: 100px;
}
.services .container .serviceBx h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
.technology{
    background: #388ffc;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technology .contentBx{
    max-width: 800px;
}
.technology .imgBx{
    max-width: 250px;
}
.technology .imgBx img{
    max-width: 100%;
}
.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}